/* Estilos generales */
.page-background {
  background-image: url("../img/water1.png");
  background-repeat: repeat;
  background-size: 1.5rem;

}

.logo {
  display: block;
  margin: auto;
  max-width: 120px;
  height: auto;
  padding-top: 40px;
  padding-bottom: 20px;
  filter: drop-shadow(5px 5px 7px #1f1e1e);
  /*animation: myAnim 4s ease 2s infinite normal both;*/
}

.logo-background{
  margin: auto;
  padding-top: 0rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
  max-width: 120px;
  background-image:url("../img/isla2.png");
  background-repeat: no-repeat;
  background-size:220px;
}

.card {
  padding: 20px;
  background-size: cover;
  max-width: 835px;
  margin:auto;
  padding-bottom: 15rem;
  position: relative;
  background-image: url(../img/Forest\ Cliff\ Arbol.png);
  z-index: 2; /* Asegura que .card esté por encima de .card2 */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 5rem;
  padding-right: 0.5rem;
  overflow-y: scroll;
  max-height: 25rem;
}

.gallery-item {
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
}

.gallery-item img {
  width: 100%;
  height: auto;
  margin-bottom: 3px;
}

.gallery-item p {
  color: white;

}

.card2 {
  background-image: url(../img/Forest\ Cliff\ Copy2.png);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 50px;
  padding-top: 8rem;
  margin-top : -7rem!important;
  margin:auto;
  max-width: 800px;
  max-height: 40rem;
  background-size: 100%;
  position: relative;
  z-index: 1;/* Valor menor para .card2 */
}

#diarios{
  margin-top: 150px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table td {
  padding: 8px;
  text-align: left;
}

table img {
  vertical-align: middle;
  margin-right: 10px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ce3737 !important;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  max-width: 90%;
  width: 500px;
  z-index: 999;
  display: none;
  text-align: center;
  overflow-y: scroll; /* Permite desplazamiento vertical si el contenido es demasiado largo */
  max-height: 80vh; 
  /* Altura máxima del popup (80% de la altura visible del viewport) */
}

.popup.open {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ce3737 !important;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  max-width: 90%;
  width: 500px;
  z-index: 3;
  text-align: center;
  overflow-y: scroll; /* Permite desplazamiento vertical si el contenido es demasiado largo */
  max-height: 80vh; 
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.popup-header h2 {
  margin: 0;
}

.popup-header button {
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popup .achievement {
  margin-bottom: 15px;
}

.popup .achievement img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.popup .achievement h2,
.popup .achievement p {
  color: white;
}

.card h1, .card2 h1 {
  font-size: 24px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.completed-heading{
  position: sticky;
}
/* Estilos para la lista de logros */
.game-achievements {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  text-align: center;
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  background: linear-gradient(to right, #000, #555); /* Degradado de negro a gris */
}

/* Estilos para mostrar la lista de logros cuando esté abierta */
.game-achievements.open {
  display: block;
  width: 42vw;
  z-index: 2;
}

.achievement {
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: linear-gradient(to right, #000, #555); /* Degradado de negro a gris */
  border-radius: 8px; /* Bordes redondeados para cada elemento */
  padding: 10px 10px 10px 40px; /* Espaciado interno para el contenido */
}


.achievement img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

/*Animacion del patito*/ 
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

.card {

  width: 100%; /* Ancho máximo de la card */
  /* Otros estilos de la card */
}

.pixel-art-image {
  max-width: 100%; /* Tamaño máximo de la imagen */
  height: auto; /* Permite que la imagen se ajuste proporcionalmente */
  position: absolute;
  top: 0;
  left: 0;
}

/* Estilos para la imagen de la roca */
.roca-image {
  position: relative;
  top: -10px;
  left: -10px;
  z-index: 3;
}

.roca-image img {
  width: 40px;
  height: 40px;
}