/* styles.css */

.page-background {
    background-image: url("./img/background.png");
    background-size: contain;
    background-repeat: repeat-y;
    min-height: 100vh;
}
  .logo {
    display: block;
    margin: auto;
    max-width: 120px;
    height: auto;
    padding-top: 40px; 
    padding-bottom: 20px;
}

.card {
    background: linear-gradient(to bottom, #2196F3, #0D47A1); /* Degradado de azul */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  

  .achievement {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: linear-gradient(to right, #000, #555); /* Degradado de negro a gris */
    border-radius: 8px; /* Bordes redondeados para cada elemento */
    padding: 10px; /* Espaciado interno para el contenido */
  }
  
  
  .achievement img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
  }
  
  .achievement h2,
.achievement p {
  color: white; /* Color del texto en blanco */
}

.card h1 {
    font-size: 24px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
  }
  /* Estilos para la segunda card con la tabla */
.card:nth-child(2) {
    background: linear-gradient(to bottom, #2196F3, #0D47A1); /* Degradado de azul */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
  }
  
  /* Estilos para la tabla */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  table td {
    padding: 8px;
    text-align: left;
  }
  
  table img {
    vertical-align: middle;
    margin-right: 10px;
  }

  /* Estilos para la galería con 3 columnas */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 10px;
}

.gallery-item {
  text-align: center;
}

.gallery-item img {
  width: 70%;
  height: 70%;
  margin-bottom: 3px;
}

.gallery-item p {
  color: white;
}